.blog_container {
  margin: 5rem 6rem;
}
.blog_bottom{
    display: flex;
}
.blog_top h1 {
  font-family: "Manrope";
  font-weight: 700;
  margin-bottom: 3.5rem;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: -0.04em;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.blog_bottom_left {
  max-width: 22rem;
  height: 20rem;
}
.blog_bottom_left img {
  width: 100%;
}
.blog_bottom_left_text_container {
  margin-top: -1rem;
  padding: 1.5rem;
  height: 341px;
  background: #042c54;
  font-family: var(--font-family);
  color: #ffffff;
}
.blog_text p {
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
}
.blog_text h2 {
  width: 300px;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
}
#blog_last_para{
    font-weight: 600;
    font-size: 11.649px; 
    margin-top: 12rem;
}
.blog_bottom_right{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}
@media screen and (max-width: 1050px) {
  .blog_top h1 {
    font-weight: 600;
    margin-bottom: 3.3rem;
    font-size: 53px;
    line-height: 66px;
  }
  .blog_bottom_left {
    margin: 0 auto;
    height: 40rem;
  }
  .blog_bottom{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .blog_top h1 {
    display: flex;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3.3rem;
    font-size: 50px;
    line-height: 62px;
  }
  .blog_bottom_left {
    margin: 0 auto;
    height: 40rem;
  }
}
@media screen and (max-width: 450px) {
  .blog_top h1 {
    display: flex;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3.3rem;
    font-size: 35px;
    line-height: 50px;
  }
  .blog_container{
    margin: 0 auto;
  }
  .blog_bottom{
    margin: 0 auto;
  }
}